// variables
$site-max-width:1310px ;

$red: #f72210;

$font-family-sans-serif: 'Roboto condensed';
$font-weight-base:700;

$btn-focus-box-shadow:none;
$btn-outline:none;

@import "../node_modules/bootstrap/scss/bootstrap";

// Customization start

// fonts
@import "fonts";

// Bootstrap Customization and UI

.btn{
    height: 34px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: $white;
    background-color: $red;
    border-radius: 0;
    border: 0;

    display: flex;
    align-items: center;

    svg{
        height: 14px;
        fill: $white;
        margin-left: 10px;
    }
}

// site contining

header,nav,main, footer{
    max-width: $site-max-width;
    margin: auto;
}

header {
    position: relative;
    background-color: $red;
    padding: 7px 0;

    @media(min-width: map-get($grid-breakpoints, lg)) {
        padding: 20px 0 15px 0;
    }

    a {
        color: $white;
    }

    .brand {
        height: 20px;

        @media(min-width: map-get($grid-breakpoints, lg)) {
            height: 60px;
        }

        a {
            display: block;
            position: relative;
            height: 100%;

            svg {
                position: absolute;
                top: 0;
                fill: $white;
                height: 100%;
                @media(min-width: map-get($grid-breakpoints, lg)) {
                    transform: translateX(-50%);
                }
            }
        }
    }

    date{
        font-weight: normal;

        padding: 15px 8px;
    }

    .header-right {
        height: 100%;
        @media (max-width:map-get($grid-breakpoints, lg) ){
            right: 25px;
        }
        a {
            font-size: 18px;
            &.lk-3 {
                color: $red;
                background-color: $white;
                svg{
                    fill: $red;
                }
            }
            &.btn{
                @media (max-width:map-get($grid-breakpoints, lg) ){
                    height: 26px;
                    font-size: 14px;
                    padding: 6px;
                }
            }
        }

    }
}

nav{
    .navbar-toggler{
        position: absolute;
        right: 0;
        top: -40px;
        height: 40px;
        width: 40px;
        padding: 0;

        svg{
            margin: auto;
            fill: white;
            height: 16px;
            g{
                
            }
        }
    }

}

main{

}

footer{

}