// variables
$site-max-width:1310px;

$red: #f72210;

$font-family-sans-serif: 'Roboto condensed';
$font-weight-base:700;
$font-family-alternative:Arial,
Helvetica,
sans-serif;

$btn-focus-box-shadow:none;
$btn-outline:none;

@import "../node_modules/bootstrap/scss/bootstrap";

// Customization start

// fonts
@import "fonts";

// Bootstrap Customization and UI

body {
    background-color: #f4f5f6;
}

.btn {
    height: 34px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: $white;
    background-color: $red;
    border-radius: 0;
    border: 0;

    display: flex;
    align-items: center;

    svg {
        height: 14px;
        fill: $white;
        margin-left: 10px;
    }
}

li {
    list-style: none;
}

// site containing

header,
nav,
.main-footer {
    max-width: $site-max-width;
    margin: auto;
}

header {
    position: relative;
    background-color: $red;
    padding: 7px 0;

    @media(min-width: map-get($grid-breakpoints, lg)) {
        padding: 20px 0 15px 0;
    }

    a {
        color: $white;
    }

    .brand {
        height: 20px;

        @media(min-width: map-get($grid-breakpoints, lg)) {
            height: 60px;
        }

        a {
            display: block;
            position: relative;
            height: 100%;

            svg {
                position: absolute;
                top: 0;
                fill: $white;
                height: 100%;

                @media(min-width: map-get($grid-breakpoints, lg)) {
                    transform: translateX(-50%);
                }
            }
        }
    }

    date {
        font-weight: normal;

        padding: 15px 8px;
    }

    .header-right {
        height: 100%;

        @media (max-width:map-get($grid-breakpoints, lg)) {
            right: 25px;
        }

        a {
            font-size: 18px;

            &.lk-3 {
                color: $red;
                background-color: $white;

                svg {
                    fill: $red;
                }
            }

            &.btn {
                @media (max-width:map-get($grid-breakpoints, lg)) {
                    height: 26px;
                    font-size: 14px;
                    padding: 6px;
                }
            }
        }

    }
}

nav {
    .navbar-toggler {
        position: absolute;
        right: 0;
        top: -40px;
        height: 40px;
        width: 40px;
        padding: 0;

        svg {
            margin: auto;
            fill: white;
            height: 16px;

            g {}
        }
    }

}

main {}

footer {
    color: #666;
    font-family: $font-family-alternative;
    font-weight: normal;
    padding: 30px;
    font-size: 14px;

    border-top: 2px solid rgb(244, 245, 246);

    @media (min-width:map-get($grid-breakpoints, lg)) {
        &.container-fluid {
            padding: 30px;
        }
    }

    a {
        color: #666;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }

    .footer-top {

        .brand svg,
        p,
        ul {
            margin-bottom: 12px;
        }

        .brand svg {
            margin-right: 15px;
            width: 269px;
            fill: $red;
        }

        p {
            font-size: 12px;
            line-height: 12px;
        }

        ul {
            padding: 0;

            li {
                margin-right: 10px;

                svg {
                    height: 26px;
                    fill: #555;
                }
            }
        }

    }

    .footer-links {
        padding-top: 6px;

        label {
            margin-right: 15px;
            
                margin-top: 2px;
        }

        .menu {
            padding: 0;
            margin: 0;
            :nth-last-child(1){
                border-right: none;
            }
            li{
                display: flex;
                align-items: center;
                max-height: 15px;
                padding-right: 10px;
                margin: 6px 10px 6px 0;
                @media (min-width:map-get($grid-breakpoints, md)) {
                    border-right: 1px solid rgb(214, 214, 214);
                }
            }
        }
    }

}