// variables
$site-max-width:1310px;

$red: #f72210;

$font-family-sans-serif: 'Roboto condensed';
$font-weight-base:700;
$font-family-alternative:Arial,
Helvetica,
sans-serif;

$btn-focus-box-shadow:none;
$btn-outline:none;

@import "../node_modules/bootstrap/scss/bootstrap";

// Customization start

// fonts
@import "fonts";

// Bootstrap Customization and UI
// div {
//     background-color: rgba(0, 0, 0, .01)
// }

body {
    background-color: #f4f5f6;
}

.btn {
    height: 34px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: $white;
    background-color: $red;
    border-radius: 0;
    border: 0;

    display: flex;
    align-items: center;

    &:hover {
        color: white;
        text-decoration: none;
    }

    svg {
        height: 14px;
        fill: $white;
        margin-left: 10px;
    }
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: black;

    &:hover {
        color: black;
        text-decoration: underline;
        text-decoration-skip: edges;
        text-decoration-color: $red;
    }
}


// site containing


header,
nav,
main,
footer {
    max-width: $site-max-width;
    margin: auto;
    background-color: white;
}

header {
    position: relative;
    background-color: $red;
    padding: 20px 0 15px 0;
    z-index: 665;

    a {
        color: $white;
    }

    .brand {
        height: 60px;
        justify-content: center;

        a {
            display: block;
            position: relative;
            height: 100%;
            width: 396px;

            svg {
                position: absolute;
                top: 0;
                fill: $white;
                height: 100%;

            }
        }
    }

    .date div {
        font-weight: normal;
        line-height: 34px;
        padding: 0 15px;
    }

    .header-right {
        height: 100%;

        a {
            font-size: 18px;

            &.lk-3 {
                color: $red;
                background-color: $white;

                svg {
                    fill: $red;
                }
            }
        }
    }

    .navbar-toggler {
        display: none;

        .cross {
            display: none;
        }

        &.crossed {
            .cross {
                display: block;
            }

            .bars {
                display: none;
            }
        }
    }

    @mixin header-fixed {
        padding: 7px 0;

        .brand {
            height: 20px;
            justify-content: left;

            a {
                svg {
                    position: absolute;
                    left: 0;
                }
            }
        }

        .date {
            display: none;
        }

        .header-right {
            right: 25px;

            a {
                &.btn {

                    height: 26px;
                    font-size: 14px;
                    padding: 6px;
                }
            }
        }

        .navbar-toggler {
            display: inline;
            position: absolute;
            right: 0;
            top: 0px;
            height: 40px;
            width: 40px;
            padding: 0;

            svg {
                margin: auto;
                fill: white;
                height: 16px;
            }
        }

    }

    @media (max-width:map-get($grid-breakpoints, lg)) {
        @include header-fixed()
    }

    &.fixed {
        position: fixed;
        max-width: 100%;
        width: 100%;
        top: 0;
        @include header-fixed()
    }
}

nav {
    position: sticky;
    top: 95px;
    background-color: white;
    border-bottom: 2px solid rgb(244, 245, 246);

    .red-shape {
        position: absolute;
        top: 0;
        right: 0;
        height: 13px;
        width: 78px;
        background-color: $red;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);

    }

    form {
        position: absolute;
        top: 13px;
        width: 100%;

        input {
            position: absolute;
            right: 85px;
            padding: 0;
            border: none;
            width: 70px;
            background-color: white;


            transition: all 0.3s;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            padding: 2px 0;

            &:focus {
                width: calc(100% - 115px);
                outline: none;

                &::placeholder {
                    color: rgba(0, 0, 0, 0)
                }
            }

            ::placeholder {
                color: rgba(0, 0, 0, .55)
            }
        }

        label {
            position: absolute;
            right: 80px;

            img {
                height: 20px;
                width: 20px;
                ;
            }
        }
    }

    ul {
        width: 100%;
        padding: 0;
        padding-right: 160px;

        margin: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(8, auto);

        :nth-child(1) {
            border: none;

        }

        li {
            font-size: 21px;
            line-height: 24px;
            margin: 15px 0;
            border-left: 1px solid #d9d9d9;

            a {
                color: black;
                padding: 0;
                width: 100%;
                display: flex;
                justify-content: center;

                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }

    @mixin navbar-fixed {
        z-index: 666;
        display: block;
        position: fixed;
        width: 220px;
        height: 100%;
        right: -220px;
        top: 40px;
        box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 0;

        .red-shape {
            display: none;
        }

        form {
            position: relative;
            top: 0;
            height: 34px;
            margin: 0;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;

            input {
                margin: 0;
                right: 0;
                left: 15px;
            }

            label {
                right: 15px;

            }
        }

        ul {
            display: block;
            padding: 0;

            li {
                margin: 0;
                border: none;
                justify-content: start;

                a {
                    padding: 5px 15px;
                    position: relative;
                    width: 100%;
                    justify-content: left;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        justify-self: right;
                        mask-image: url("https://g.newsweek.com/www/images/icon-arrow-right.svg");
                        display: block;
                        width: 8px;
                        height: 14px;
                        background-color: black;
                    }

                    &:hover {
                        background-color: black;
                        color: white;

                        &:after {
                            background-color: $red;
                        }
                    }
                }
            }
        }

    }

    &.fixed {
        transition: all 0.3s;
        @include navbar-fixed()
    }

    @media (max-width:map-get($grid-breakpoints, lg)) {
        transition: all 0.3s;
        @include navbar-fixed()
    }

    &.toggle {
        right: 0;
    }
}

main {
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;

    &.container-fluid {
        @media (min-width: map-get($grid-breakpoints, lg)) {
            >.row {
                margin: 0;
                display: grid;
                grid-template-columns: 71% 29%;
            }
        }

    }

    .block-title {
        color: rgba(3, 3, 3, .4);
        padding-bottom: 11px;
        text-transform: uppercase;
        line-height: 1em;

        a {
            color: rgba(3, 3, 3, .4);

            &hover {
                text-decoration: none;
            }
        }
    }

    .wrap {
        position: relative;

        .category {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 8px 15px;
            background-color: rgba(255, 255, 255, .9);

            a {
                color: $red;
                font-size: 17px;
            }
        }
    }

    .image {
        a {
            
            picture {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .content{
        >div{
            margin-bottom: 30px;
        }
    }
    @mixin red-hover {
        &:hover{
            text-decoration: none;
            color: $red;
        }
    }

    #sticky3{
        #block-nw-opinion{
            ul{
                :nth-child(1){
                    padding-top: 0;
                    border-top: none;
                }
                li{
                    border-top: 1px solid rgb(221, 221, 221);
                    padding : 10px 0;
                    .image{
                        margin-right: 16px;
                    }
                    .info{
                        font-size: 17px;
                        a{
                            @include red-hover();
                        }
                    }
                    .byline{
                        color: #555;
                        margin-top: 4px;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }

        }
    }


}

footer {
    color: #666;
    font-family: $font-family-alternative;
    font-weight: normal;
    padding: 30px;
    font-size: 14px;

    border-top: 2px solid rgb(244, 245, 246);

    @media (min-width:map-get($grid-breakpoints, lg)) {
        &.container-fluid {
            padding: 30px;
        }
    }

    a {
        color: #666;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }

    .footer-top {

        .brand svg,
        p,
        ul {
            margin-bottom: 12px;
        }

        .brand svg {
            margin-right: 15px;
            width: 236px;
            fill: $red;
        }

        p {
            font-size: 12px;
            line-height: 12px;
        }

        ul {
            padding: 0;

            li {
                margin-right: 10px;

                svg {
                    height: 26px;
                    fill: #555;
                }
            }
        }

    }

    .footer-links {
        padding-top: 6px;

        label {
            margin-right: 15px;

            margin-top: 2px;
        }

        .menu {
            padding: 0;
            margin: 0;

            :nth-last-child(1) {
                border-right: none;
            }

            li {
                display: flex;
                align-items: center;
                max-height: 15px;
                padding-right: 10px;
                margin: 6px 10px 6px 0;

                @media (min-width:map-get($grid-breakpoints, md)) {
                    border-right: 1px solid rgb(214, 214, 214);
                }
            }
        }
    }

}