// variables
$site-max-width:1310px;

$red: #f72210;

$font-family-sans-serif: 'Roboto condensed';
$font-weight-base:700;
$font-family-alternative:Arial,
Helvetica,
sans-serif;

$btn-focus-box-shadow:none;
$btn-outline:none;

@import "../node_modules/bootstrap/scss/bootstrap";

// Customization start

// fonts
@import "fonts";

// Bootstrap Customization and UI

body {
    background-color: #f4f5f6;
}

.btn {
    height: 34px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: $white;
    background-color: $red;
    border-radius: 0;
    border: 0;

    display: flex;
    align-items: center;

    &:hover {
        color: white;
        text-decoration: none;
    }

    svg {
        height: 14px;
        fill: $white;
        margin-left: 10px;
    }
}

li {
    list-style: none;
}

// site containing

header,
nav,
.main-footer {
    max-width: $site-max-width;
    margin: auto;
}

.main-footer {
    padding: 0 30px;
}

header {
    position: relative;
    background-color: $red;
    padding: 20px 0 15px 0;

    a {
        color: $white;
    }

    .brand {
        height: 60px;
        justify-content: center;

        a {
            display: block;
            position: relative;
            height: 100%;
            width: 396px;

            svg {
                position: absolute;
                top: 0;
                fill: $white;
                height: 100%;

            }
        }
    }

    .date div {
        font-weight: normal;
        line-height: 34px;
        padding: 0 15px;
    }

    .header-right {
        height: 100%;

        a {
            font-size: 18px;

            &.lk-3 {
                color: $red;
                background-color: $white;

                svg {
                    fill: $red;
                }
            }
        }
    }

    .navbar-toggler {
        display: none;

        .cross {
            display: none;
        }
    }

    @mixin header-fixed {
        padding: 7px 0;

        .brand {
            height: 20px;
            justify-content: left;

            a {
                svg {
                    position: absolute;
                    left: 0;
                }
            }
        }

        .date {
            display: none;
        }

        .header-right {
            right: 25px;

            a {
                &.btn {

                    height: 26px;
                    font-size: 14px;
                    padding: 6px;
                }
            }
        }

        .navbar-toggler {
            display: inline;
            position: absolute;
            right: 0;
            top: 0px;
            height: 40px;
            width: 40px;
            padding: 0;

            svg {
                margin: auto;
                fill: white;
                height: 16px;
            }
        }

    }

    @media (max-width:map-get($grid-breakpoints, lg)) {
        @include header-fixed()
    }

    &.fixed {
        position: fixed;
        max-width: 100%;
        width: 100%;
        top: 0;
        @include header-fixed()
    }
}

nav {
    position: sticky;
    top: 95px;
    background-color: white;
    border-bottom: 2px solid rgb(244, 245, 246);

    .red-shape {
        position: absolute;
        top: 0;
        right: 0;
        height: 13px;
        width: 78px;
        background-color: $red;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    }

    form {
        position: absolute;
        padding-right: 78px;
        padding-left: 30px;
        width: 100%;
        display: flex;
        margin-top: 14px;

        input {
            margin-left: auto;
            border: none;
            width: 70px;
            background-color: white;

            transition: all 0.3s;

            &:focus {
                width: 100%;
                outline: none;

                &::placeholder {
                    color: rgba(0, 0, 0, 0)
                }
            }

            ::placeholder {
                color: rgba(0, 0, 0, .55)
            }
        }

        label {
            position: absolute;
            right: 78px;

            svg {
                height: 20px;
                width: 20px;
                ;
            }
        }
    }

    ul {
        width: 100%;
        padding: 0;
        padding-right: 190px;
        padding-left: 30px;
        margin: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(10, auto);

        :nth-child(1) {
            border: none;
        }

        li {
            font-size: 21px;
            line-height: 24px;
            margin: 15px 0;
            display: flex;
            border-left: 1px solid #d9d9d9;
            justify-content: center;

            a {
                color: black;
                padding: 0;

                &:hover {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }

    @mixin navbar-fixed{
        z-index: 666;
        display: block;
        position: fixed;
        width: 220px;
        height: 100%;
        right: -220px;
        top: 40px;
        box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 0;

        .red-shape {
            display: none;
        }

        form {
            position: relative;
            margin: 0;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            input{
                width: 200px;
                margin: 0;
            }
            label{
                position: relative;
                right: 0;
            }
        }

        ul {
            display: block;
            padding: 0;

            li {
                margin: 0;
                border: none;
                justify-content: start;

                a {
                    padding: 5px 15px;
                    position: relative;
                    width: 100%;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        justify-self: right;
                        mask-image: url("https://g.newsweek.com/www/images/icon-arrow-right.svg");
                        display: block;
                        width: 8px;
                        height: 14px;
                        background-color: black;
                    }

                    &:hover {
                        background-color: black;
                        color: white;
                        &:after{
                            background-color: $red;
                        }
                    }
                }
            }
        }

    }

    &.fixed {
        transition: all 0.3s;
        @include navbar-fixed()
    }

    @media (max-width:map-get($grid-breakpoints, lg)) {
        transition: all 0.3s;
        @include navbar-fixed()
    }

    &.toggle{
        right: 0;
    }
}

main {
    height: 1000px;

}

footer {
    color: #666;
    font-family: $font-family-alternative;
    font-weight: normal;
    padding: 30px;
    font-size: 14px;

    border-top: 2px solid rgb(244, 245, 246);

    @media (min-width:map-get($grid-breakpoints, lg)) {
        &.container-fluid {
            padding: 30px;
        }
    }

    a {
        color: #666;

        &:hover {
            text-decoration: none;
            color: black;
        }
    }

    .footer-top {

        .brand svg,
        p,
        ul {
            margin-bottom: 12px;
        }

        .brand svg {
            margin-right: 15px;
            width: 236px;
            fill: $red;
        }

        p {
            font-size: 12px;
            line-height: 12px;
        }

        ul {
            padding: 0;

            li {
                margin-right: 10px;

                svg {
                    height: 26px;
                    fill: #555;
                }
            }
        }

    }

    .footer-links {
        padding-top: 6px;

        label {
            margin-right: 15px;

            margin-top: 2px;
        }

        .menu {
            padding: 0;
            margin: 0;

            :nth-last-child(1) {
                border-right: none;
            }

            li {
                display: flex;
                align-items: center;
                max-height: 15px;
                padding-right: 10px;
                margin: 6px 10px 6px 0;

                @media (min-width:map-get($grid-breakpoints, md)) {
                    border-right: 1px solid rgb(214, 214, 214);
                }
            }
        }
    }

}